*{
    margin: 0;
   padding: 0;
}
body{
   
    color: #fff;
    line-height: 1.7;
    overflow-x: hidden;
   
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #ccc;
}

ul{
    list-style-type: none;
}
img{
    width:55px;
    
}
.header{
    height: 660px;
    width: 100%;
    background:url(../img/header.jpg)
    no-repeat center center/cover;
}
.header nav ul li:last-child{
    display: flex;
    justify-content: flex-end;
    padding:  0 66px 0px 0px;
    margin-top: -25px;
    z-index: 2;
    position: relative;
    
    
}
.header nav ul li:first-child{
    padding: 20px 0px 0px 35px ;
    z-index: 2;
    position: relative;
    
}
.login-btn{
     cursor: pointer;
     padding: 8px;
     border-radius: 5px;
     background: none;
     border: none;
     color: #a8afbd;
     font-weight:bold;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-size: 13px;
     
    
}
.login-btn:hover{
    background-color: #474a4a;
    color: #fff;
    padding: 8px;
     border-radius: 5px;
}
.navbar{
  
    width: 100%;
    height: 70px;
    background-color: #1ce783;
    font-family: Graphik Web,Graphik,sans-serif;
    font-size: 17px;
   
    padding: 0px 64px;
    line-height: 1.32;
    font-weight: 300;
    color: #000;
    

}
.navbar p:first-child{
    margin: 0;
    padding-left: 110px;
    padding-top: 13px;
}
.navbar p:last-child{
  text-align: center;
  font-size: 9px;
  padding-right: 155px;
  line-height: 1.32;
}
.navbar p:first-child a{
    font-weight: 900;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #586174;
}
.texts{
  font-family: Graphik Web,Graphik,sans-serif;
  text-decoration: underline;
}
.header::after{
    content: '';
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height:100px;
    z-index: 1;
    background: linear-gradient(156.82deg,rgba(0,0,0,0.6) 4.58%,rgba(0,0,0,0) 69.61%),linear-gradient(24.5deg,rgba(0,0,0,.2) 4.71%,rgba(0,0,0,0)71.49%);
}
.header-content{
   
    width: 50%;
    height: 200px;
    align-items: center;
    margin-left: 25%;
    margin-top: 142px;
    
}

.header-content1{
    
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 

}
.header-content2{
    
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
}
.header-content .header-content1 h5{
   
    font-family: Graphik Web,Graphik,sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .6px;
    line-height: 1;
    text-transform: uppercase;
    color: #00ED82;
} 
.header-content .header-content1 img{
    opacity: 1;
    min-height: auto;
    flex-shrink: 0;
    width: 66%;
    padding-top: 10px;
}



.header-text-1{
  
 
    font-family: Graphik Web,Graphik,sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.24;
    text-transform: none;
    margin-top: 16px;
    padding-left: 81px;
}
.btn1{
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 2.5;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    display: inline-block;
    width: 330px;
    border-radius: 5px;
    border-style: none;
    background: #1ce783;
    margin-top: 12px;
}
.header-content .header-content2 h5{
   
    font-family: Graphik Web,Graphik,sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .6px;
    line-height: 1;
    text-transform: uppercase;
    color: #00ED82;
} 
.header-content .header-content2 img{
    opacity: 1;
    min-height: auto;
    flex-shrink: 0;
    width: 83%;
    padding-top: 10px;
}



.header-text-2{
  
 
    font-family: Graphik Web,Graphik,sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.24;
    text-transform: none;
    margin-top: 16px;
    padding-left: 81px;
}

.btn2{
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 2.5;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    display: inline-block;
    width: 330px;
    border-radius: 5px;
    border-style: none;
    background: #1ce783;
    margin-top: 12px;
}
.price{
    text-align: center;
    border-spacing: 0;
    font-family: Graphik Web,Graphik,sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.46;
    text-transform: none;
    margin-top: -15px;
}




.texts{
    
  
    margin-top: 3%;
    height: 100px;
    width: 20%;
    text-align: center;
    margin-left: 40%;
    line-height: 40px;
   
}
.green{
     color: #00ED82;
     font-family: "Graphik Web",sans-serif;
     font-size: 12px;
     font-weight: 500;
     line-height: 1;
     letter-spacing: 0.6px;
     text-transform: uppercase;
     text-align: center;
     margin-top: 8%;

}
.txt-1{
    
    font-family: "Graphik Web",sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.5px;
    
    margin: 20px 0px;
}
.txt-2{
    max-width: 800px;
    font-size: 16px;
    text-align: center;
    
    font-family: "Graphik Web",sans-serif;
    line-height: 1.32;
    font-weight: 500;
    word-spacing: 4px;
    

}
.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #0b0c0f;
}
.covers{
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 20px;
margin-top: 40px;
}
.categories .covers >div{
    height: 460px;
    width: 300px;
    background-color: #a8afbd;
    position: relative;
    border-radius: 5px;
    
}
.categories .cover-1{
    background: url("../img/im1.png") no-repeat center center/cover;
    
  }
  .categories .cover-2{
    background: url("../img/im2.jpeg") no-repeat center center/cover;
    
  }
  .cover-3{
    background: url("../img/im3.png") no-repeat center center/cover;
    
  }
  .categories .cover-4{
    background: url("../img/im4.png") no-repeat center center/cover;
    
  }
  .categories .cover-grad{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(156.82deg,rgba(0,0,0,0.6) 4.58%,rgba(0,0,0,0) 69.61%),linear-gradient(24.5deg,rgba(0,0,0,.2) 4.71%,rgba(0,0,0,0)71.49%);
  
  }
  .categories .cover-txt{
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left;
    font-family: Graphik Web,Graphik,Helvetica,Arial,sans-serif;
   
   
  }
  .live{
    background-color: #0b0c0f;
    font-family: Graphik Web,Graphik,Helvetica,Arial,sans-serif;
    padding: 40px;
    padding-top: 90px;
  }
  .live-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 20px;
  }
  
  .live .live-border h6{
    color: #8b0d0d;
    ;
  }
  .premium{
    display: flex;
    justify-content: end;
    font-family: "Graphik Web",sans-serif;
    font-size: 15px;
    font-weight: 350;
    line-height: 1.46;
    letter-spacing: 0;
    padding: 15px;
    padding-right: 100px;
    color: #cacac498;
    background-color: #0b0c0f;
    
  }
  .live-border h3{
   
    margin-top: 46px;
    padding-bottom: 10px;
  }
  .btn-3{
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 2.5;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    display: inline-block;
    width: 190px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    background: #1ce783;
    margin-top: 12px;
  }
  .legal-txt{
    font-family: "Graphik Web",sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.0;
    letter-spacing: 1px;
    padding: 15px;
    padding-right: 100px;
    color: hsla(0,0%,100%,.6);
    text-align: center;
    max-width: 850px;
    
  }
  .legal-txt a{
    color: hsla(0,0%,100%,.6);
    text-decoration: underline;

  }
  .txt-4{
    text-decoration: underline;
    opacity: .8;
    color: #fff;
    font-weight: bold;
  }
  .live-sports{

  background: url(../img/live-sports.jpg) no-repeat
  center center /cover;
  height: 800px;
  position: relative;
}
.live-sports-content{
  position: absolute;
  top: 200px;
  left: 200px;
    position: absolute;
    top: 267px;
    text-align: left;
    max-width: 560px;
}

.live-sports-logo{
 width: 300px;
 display: flex;
 margin-top: 40px;
 align-items: center;
 justify-content: space-between;

}
.live-sports-logo > div{
background: url(../img/network-logo-bg.png) no-repeat center center / cover;
height: 60px;
width: 60px;
display: flex;
align-items: center;
justify-content: center;

}
.live-sports-logo img{
  width: 40px;
}

.live-sports-content .txt-2{
text-align:start ;
font-family: "Graphik Web",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.36;
    letter-spacing: 0;
    
}
.live-sports-content .legal-txt{
font-size: 8px;
text-align: left;
margin-left: -12px;
margin-top: 5px;

}

.live-sports-header{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 200px;
  left: 190px;
flex-wrap: wrap;
align-items:center;
justify-content: center;

}
.live-sports-header h5 {
  margin: 0 10px; 
  color: #a2a5a8;
  font-family: "Graphik Web",sans-serif;
    font-size: bolder;
    font-weight: 600;


  
}
.live-sports-header h5:first-child{
  color: white;
  border-bottom: 3px solid #ffffff;
}
.footer{
  background-color: #ebedf2;
  color: #333;
  font-family: "Graphik Web",sans-serif;
  font-size: 13px;
  width: 100%;
  height: 520px;
  
}
.footer a{
  color: #586174;
}
.footer-container{
  max-width: 1100px;
  margin: auto;
  padding: 40px;

  
}
.footer-list{
  display: flex;
  justify-content: space-between;

}
.footer-list .list-head{
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  
}
.l1{
  margin-top:30px ;
}
.l2{
  margin-top:30px ;
}
.divider{
  width: 100%;
  height: 3px;
  border-top: 1px #ccc solid;
  margin: 150px 0;

}
.social-icons {
  margin-top: -100px;
  margin-left: -10x;
}
.social-icons img{
 
  width: 20px;
  height: 25px;
  margin-right: 25px;

}
.last-section{

 width: 100%;
 height: 100px;
 background-color: #ebedf2;
 color: #586174;

}
.last-section a{
 
  color: #586174;

}
.last-contents{
 
  max-width: 910px;
  margin-left: 190px;
}
.last-contents li{
display: inline;
font-family: "Graphik Web",sans-serif;
font-size: 12px;
padding-right: 30px;
letter-spacing: 1;


  
}
.last-contents img{
  width: 11px;
}

